@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.errorPage a {
  font-family: montserrat, sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-align: center;
  margin-top: 3rem;
}
.errorPage a:hover {
  color: #ff6300;
  background: #211b19;
}
.errorPage h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: montserrat, sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0;
  color: #211b19;
  text-transform: uppercase;
}
.errorPage h2 {
  text-align: center;
  width: 31rem;
  top: 55%;
  font-family: montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .errorPage h1 {
    font-size: 148px;
  }
}
@media (max-width: 500px) {
  .errorPage h2 {
    font-size: 16px;
  }
  .errorPage h1 {
    font-size: 86px;
  }
}
.errorPage div {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}
@layer components {
  .MMcontainer {
    @apply px-[15px] mx-auto sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px];
  }
  .text-shadow {
    text-shadow: 0 0.7rem 1rem black;
  }
  .box-shadow {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  }
  .background {
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
  }
  .btn-hover {
    background-color: #f7f7f7;
    color: #777;
    text-shadow: none;
    transform: translateY(-2px);
  }
  .linearGrad {
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  }
}
@layer utilities {
  .clip-path {
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  }
  .linearGrad {
    background-image: linear-gradient(
      to bottom right,
      rgba(125, 213, 111, 0.85),
      rgba(40, 180, 135, 0.85)
    );
  }
  .heading-color {
    background-clip: text;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    color: transparent;
  }
  .box-dec {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .clip-path2 {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* width */
  .scrolll::-webkit-scrollbar {
    width: 3px;
    height: 10px;
    display: none;
  }

  /* Track */
  .scrolll::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 3px;
    margin: 3px;
    display: none;
  }

  /* Handle */
  .scrolll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
  }
  .errorInput {
    background-color: rgba(11, 10, 10, 0.06);
    border-bottom: 3px solid red;
  }
  /* Handle on hover */
  .scrolll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .err {
    padding: 1rem;
    color: red;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }
  .errorPage {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
